[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
taskw = {editable = true, ref = "develop", git = "https://github.com/Fongshway/taskw.git"}

[dev-packages]
docformatter = "*"
isort = {extras = ["pipfile"], version = "*"}
mypy = "*"
pylint = "*"
pytest = "*"
yapf = "*"

[requires]
python_version = "3.6"
