[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
taskw = "*"

[dev-packages]
docformatter = "*"
isort = {extras = ["pipfile"], version = "*"}
mypy = "*"
pylint = "*"
pytest = "*"
types-python-dateutil = "*"
types-six = "*"
yapf = "*"

[requires]
python_version = "3.11"
